[Unit]
Description=Limnoria IRC bot (bot name: {{ item.cn }})
Requires=network.target
After=multi-user.target

[Service]
Type=simple
User=limnoria
ExecStart=/usr/bin/supybot /usr/lib64/limnoria/{{ item.cn }}/limnoria-{{ item.cn }}.conf
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
